<?php
/**
 * @var $block \Kowal\LeftSidebarCategoryMenu\Block\SidebarCategoryMenu
 */
?>
<?php

// $_aloHelper = $this->helper('Magiccart\Magicmenu\Helper\Data');
// var_dump($_aloHelper->getConfig('magicmenu'));

$menuHtml = $block->sidebarCategoryMenu();
//$menuHtml = $this->drawMainMenu();
$mobileMenu = $menuHtml['mobile'];
?>
<div class="accordion-container">
    <h3 class="accor-title"><?php echo __("Categories")?></h3>
    <div class="meanmenu-accordion">
        <ul class="accordion nav-accordion" data-alo-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
            <?php echo $mobileMenu ?>
        </ul>
        <div class="all-cat"><span><?php echo __('All Categories')?></span><span style="display:none"><?php echo __('Close')?></span></div>
    </div>
</div>
<script type="text/javascript">
    require(['jquery','magiccart/easing','sidebarcategorymenu']);
</script>

