.sidebar {
  .mean-container {
    .mean-nav {
      float: left;
      width: 100%;
      position: relative;
      background-color: #fff;
      z-index: 2;
      left: 0;
      border: solid 1px #ddd;
      border-radius: 2px;

      ul {
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: none;

        li.cat a span {
          display: block;
          font-size: 15px;
          padding: 0px 35px 0px 15px;
        }

        li {
          position: relative;
          float: left;
          width: 100%;
          margin-bottom: 0px;

          a {
            display: block;
            padding: 4px 0;
            margin: 0;
            text-align: left;
            color: #333;
            border-bottom: 1px solid #efefef;
            text-decoration: none;
            text-transform: capitalize;
            &:hover{
              color: #999;
            }
            &.mean-expand {
              width: 8px;
              height: 8px;
              line-height: 8px;
              padding: 8px !important;
              text-align: center;
              position: absolute;
              right: 2px;
              top: 2px;
              z-index: 2;
              font-weight: 300;
              background: rgba(0, 0, 0, 0.1);
              border: none !important;
              &:hover {
                background: #444;
                color: #fff
              }
            }
          }
        }
        li li a {
          font-size: 12px;
          padding: 4px 0px 4px 10px;
          filter: alpha(opacity=75);
          visibility: visible;
        }

        li li li a {
          font-size: 12px;
          padding: 4px 0px 4px 30px;
        }
        li li li li a {
          padding: 1em 20%
        }

        li li li li li a {
          padding: 1em 25%
        }


        li.mean-last a {
          margin-bottom: 0
        }
      }

      .mobi-title {
        color: #242628;
        font-size: 16px;
        line-height: 52px;
        margin: 0;
        padding: 0 0 0 50px;
        text-align: left;
        text-transform: uppercase;
        font-weight: 400;
        position: absolute;
        top: -56px;
        z-index: 0;
        display: none;
      }

      .wrapper {
        width: 100%;
        padding: 0;
        margin: 0
      }

    }

    .mean-push {
      float: left;
      width: 100%;
      padding: 0;
      margin: 0;
      clear: both
    }
  }
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.mean-remove {
  display: none !important
}

.mean-container .mean-bar, .mean-container .mean-nav ul {
  position: relative;
}

.mean-container .mean-nav .level0 > a:hover.icon-text {
  color: #000;
  background-color: #eee;
}

.mean-container .mean-nav li.active > a {
  color: #000;
  font-weight: bold;
}

/* ================= End Meanmenu Menu  ================= */

